<div class="chat-container">
    <div class="search-container">
            <input type="text" placeholder="Search"/>
    </div>
    <app-user-list class="conversation-list"
    [friends] = "user.friendDTOs"
    (idFriend)= "selectChat($event)">

    </app-user-list>

    <div class="new-message-container">
        <a href="#">+</a>
    </div>

    <div class="chat-title">
        <span></span>
    </div>
    <app-messages class="chat-message-list"
    [id] = "id.asObservable()">

    </app-messages>
    <div class="chat-form">
        <input type="text" placeholder="Widomość"/>
    </div>
</div>
