<div class="chat-container">
    <div class="search-container">
            <input type="text" placeholder="Search"/>            
    </div>
    <app-user-list class="conversation-list">

    </app-user-list>
    <div class="new-message-container">
        <a href="#">+</a>
    </div>

    <div class="chat-title">
        <span>Nazwa użytkownika</span>
    </div>
    <app-messages class="chat-message-list">

    </app-messages>
    <div class="chat-form">
        <input type="text" placeholder="Widomość"/>
    </div>
</div>