

 <ul>
  <li *ngFor="let message of messages">

<div class="message-row you-message" *ngIf="message.sendingBy === 'Admin'">
    <div class="message-content">
    <div class="message-text">{{message.text}}</div>
    <div class="message-time">{{message.sending | date:'HH:mm'}}</div>
</div>
</div>


<div class="message-row other-message" *ngIf="message.sendingBy !== 'Admin'">
    <div class="message-content">
        <img src="assets/images/profile.png" alt="Darly Duckmanton"/>
        <div class="message-text">{{message.text}}
        </div>
        <div class="message-time">{{message.sending | date:'HH:mm'}}</div>
    </div>


</div>
</li>
</ul>
