<div class="conversation">
        <img src="assets/images/profile.png" alt="Darly Duckmanton"/>
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <div class="title-text">
            Name
        </div>
        <div class="created-date">
            APR 16
        </div>
        <div class="conversation-message">
            This is a importat message
        </div>
</div>
